<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MapBoxMyDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D913B56E1F88B8590041CFD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D913B5851F88B85B0041CFD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D913B5901F88B85B0041CFD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
